@mmo.delivery:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=u2xzQYWLBj3igNbxxQBc

@m10185:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=glpat-tsKyRAum1tiyx8bxBm3H
